.oldtimey {
  font-family: Damion;
  text-size: large;
}

.shadow {
  text-shadow: 2px 2px black;
}

.brand-logo img {
    /* Logo Aspect Ratio: 1.09 */
    height: 200px;
    width: 218px;
}

.award {
  float: right;
  position: relative;
  top:90%;
}

.parallax-container {
   height: 500px;
 }

 .line-icon-3 {
   position: relative;
   top: 3px;
 }

 .line-icon-6 {
   position: relative;
   top: 6px;
 }

 .para-br {
   float: right;
   bottom: 0;
   right: 0;
 }

  .card-action {
   color: white;
 }

 .card a {
   color: white
 }

 .phone-num {
    font-size: 40px;
 }

 .tabs .indicator {
     background-color: white;
 }

 .tabs a {
     color: white;
 }

 .fixed {
   position: fixed;
   float: right;
   bottom: 0;
   right: 0;
   margin: 50px 50px 50px 50px;
 }
